nav{
    /* position:relative; */
    transform-origin: right;
    background-color: rgb(10, 8, 8);
    color:black;
   
}

body{

    background: url('z2.jpg') no-repeat;
    background-size: cover;

}
#navigation{
    height:50px;
    text-align: center;
    padding: 10px;
}
input{
    border-radius: 10px;
    padding:8px;
}

#b{
   
    backdrop-filter: blur(20px);
    width: 350px;
    margin-left:1000px;
    margin-top: -280px;
    border-radius: 20%; 
    height: 550px;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    
    

}
.h{
    border-radius: 5px;
    width: 60%;
    padding: 10px;
    font-size: large;
    
}
a{
    color:aliceblue;
    
}
#navigation a {
    
    color: aliceblue;
    
    margin-left: 100px;
}
#navigation:hover{
    
    color: black;
}
#a{
    margin-top: 100px;
}
button{
    background-color: rgb(162, 130, 70);
    width:150px;
    height: 60px;
    margin: 10px;
    border-radius:20%; 

}
